<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Простой блог</title>
</head>
<body>
<!-- создает класс container -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Регистрация на сайте</h1>
        <!-- #создает форму с методом POST, чтобы отправлять данные из этой формы
        #создает поля: имя, город, хобби и возраст.-->
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="city">Город:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби (увлечения не связанные с работой):</label>
                <textarea class="form-control" id="hobby" name="hobby" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="age">Возраст:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            <button type="submit" class="btn btn-primary">Отправить анкету</button>
        </form>
        <hr>
       <!-- #использует цикл for, чтобы иметь возможность публиковать посты -->
        <h2>ваши данные</h2>
       <!-- {% for post in posts %} -->
       <!-- #создает отдельный div, внутри которого записываются заголовки и текст постов -->
        <div class="card my-3">
            <div class="card-body">
                <h4 class="card-title">{{ post.name }}</h4>
                <p class="card-text">{{ post.city }}</p>
                <p class="card-text">{{ post.hobby }}</p>
                <p class="card-text">{{ post.age }}</p>
            </div>
        </div>
        <!-- {% endfor %} -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>